.footer_btn{
    width: 250px;
    max-width: 100%;
    height: auto;
    background-color: #EF7D00!important;
    border-radius: 0px!important;
    padding:10px 0px!important;

}
.arrow{
    margin-left:10px;
    transform: translateX(0%);
    transition:all .6s ease-out ;
}
.footer_btn:hover span.arrow{
  
    transform: translateX(50%);
}